.version.gaushala_aim /* version checker */
{
	color: #0000F7;
	background-color: #0578DD;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

#pu96
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u96
{
	z-index: 2;
	width: 1200px;
	position: relative;
}

#u96_img
{
	padding-right: 94px;
}

#menuu98
{
	z-index: 4;
	width: 1200px;
	position: relative;
}

#u113
{
	width: 238px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
}

#u114
{
	width: 238px;
	padding-bottom: 9px;
	position: relative;
}

#u114:hover
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u114:active
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 238px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u114:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u114:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u365
{
	width: 238px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u366
{
	width: 238px;
	padding-bottom: 9px;
	position: relative;
}

#u114.MuseMenuActive,#u366:hover
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u366:active
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u369-4
{
	width: 238px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u114.MuseMenuActive #u116-4,#u366:hover #u369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u366:active #u369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u398
{
	width: 238px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u401
{
	width: 238px;
	padding-bottom: 9px;
	position: relative;
}

#u366.MuseMenuActive,#u401:hover
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u401:active
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u401.MuseMenuActive
{
	width: 238px;
	min-height: 0px;
	margin: 0px;
}

#u402-4
{
	width: 238px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u366.MuseMenuActive #u369-4,#u401:hover #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u401:active #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u401.MuseMenuActive #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 238px;
	margin: 0px -10000px 0px 0px;
}

#u431
{
	width: 239px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#u432
{
	width: 239px;
	padding-bottom: 9px;
	position: relative;
}

#u432:hover
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u432:active
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u434-4
{
	width: 239px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u432:hover #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 239px;
	margin: 0px -10000px 0px 0px;
}

#u432:active #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 239px;
	margin: 0px -10000px 0px 0px;
}

#u464
{
	width: 239px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	left: 961px;
}

#u465
{
	width: 239px;
	padding-bottom: 9px;
	position: relative;
}

#u432.MuseMenuActive,#u465:hover
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u465:active
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u465.MuseMenuActive
{
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u466-4
{
	width: 239px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u432.MuseMenuActive #u434-4,#u465:hover #u466-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 239px;
	margin: 0px -10000px 0px 0px;
}

#u465:active #u466-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 239px;
	margin: 0px -10000px 0px 0px;
}

#u465.MuseMenuActive #u466-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 239px;
	margin: 0px -10000px 0px 0px;
}

#u645-9
{
	z-index: 41;
	width: 566px;
	min-height: 429px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u645-2
{
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	color: #0002DA;
	font-weight: bold;
}

#u648-7
{
	z-index: 52;
	width: 1161px;
	min-height: 151px;
	background-color: transparent;
	position: relative;
}

#u645-4,#u645-6,#u648-2,#u648-4
{
	text-align: justify;
}

#u702
{
	z-index: 40;
	min-height: 100px;
	position: relative;
	margin-right: -10000px;
	width: 58.71%;
	left: 33.88%;
}

#u646
{
	z-index: 50;
	width: 601px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 619px;
}

#u223
{
	z-index: 35;
	width: 1200px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 20px;
}

#u224-4
{
	z-index: 36;
	width: 789px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 206px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

